---
import Layout from '~/layouts/PageLayout.astro';
// import HeroText from '~/components/widgets/HeroText.astro';
// import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <!-- <HeroText tagline="Contact" title="Let's Connect!" /> -->

  <!-- <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="Let me know how we can work together"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="How can we work together, let me know"
    items={[

      {
        title: 'Phone',
        description: '+34 692 60 58 93 or +44 773 7208 583',
        icon: 'tabler:phone-call',
      },
      {
        title: 'Email',
        description: 'contact@philsambati.com <a href="www.google.com"></a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Linkedin',
        description: 'https://www.linkedin.com/in/phil-sambati-6770b1a6/',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />
</Layout>
