---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Phil Sambati',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Experience', href: '#experience' },
        { text: 'Projects', href: 'projects_overview' },
        { text: 'Articles', href: 'blog' },
      ]}
      actions={[
        {
          text: 'Get my CV',
          href: 'src/assets/images/CV_PhilSambati-3s.pdf', download: 'PhilSambatiCV', target: '_blank', rel: 'noopener noreferrer'
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Phil Sambati"
    tagline="homepage and portfolio"
  >


  
    <Fragment slot="subtitle">
      <b>I am open to work</b> and after you have explored a little I'm sure you'll find I'm passionate about creating impactful learning experiences
      that drive real results. Thanks for visiting!
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:arrow-big-right-lines',
        callToAction: {
          text: 'Contact me:',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'Linkedin',
          href: 'https://www.linkedin.com/in/phil-sambati-6770b1a6/',
        },
      },
      {
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: 'mailto:contact@philsambati.com',
        },
      },
      // {
      //   icon: 'tabler:brand-pinterest',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Pinterest',
      //     href: '#',
      //   },
      // },
    ]}
    image={{
      src: '~/assets/images/psambati.JPG',
      alt: 'Psambati Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        With years of expertise in curriculum development and digital learning innovation, I help organizations and
        individuals unlock their full potential through strategic learning solutions.<br />
        <br />Explore my projects which showcases how I have used AI technologies alongside proven methodologies that transform complex
        knowledge into engaging learning experiences, alongside strategic curriculum development across diverse
        industries and learning needs.<br /><br /> Here, you'll discover my forward-thinking perspectives on the evolving
        landscape of digital education and insights into creating effective learning environments.
        <br /><br />So, whether you're looking to revolutionize your organization's learning approach or curious about
        what the future of educational technology might look like, you'll find find something here. I the meantime.
        let's connect on LinkedIn to explore how we can shape the future of learning together.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ********************** -->

  <Steps
    id="experience"
    title="Work experience"
    items={[
      {
        title:
          'Learning designer <br /> <span class="font-normal">Independent Consultant, Spain</span> <br /> <span class="text-sm font-normal">2024 - Present</span>',
        description: `Developed online learning material and integrated AI into workflows for instructional systems design.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Digital Learning Manager <br /> <span class="font-normal">RMIT University, Vietnam</span> <br /> <span class="text-sm font-normal">2022 - 2024</span>',
        description: `Developed digital learning, including curriculum, assessment, and professional development. Created a digital framework for a new curriculum and designed new blended learning courses.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Learning Designer <br /> <span class="font-normal">International Baccalureate, Netherlands</span> <br /> <span class="text-sm font-normal">2019 - 2022</span>',
        description: `Design and deliver professional development training, develop new learning models and methods, and manage LMS and learning technologies.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Instructional Design Specialist <br /> <span class="font-normal">International Livestock Research Institute, Kenya</span> <br /> <span class="text-sm font-normal">2016 - 2019</span>',
        description: `Design and development of training and development interventions for
                      capacity development. Work covers all areas from initial analysis to final evaluation.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Digital Training Manager Sub-Saharan Africa <br /> <span class="font-normal">British Council (BC), Kenya</span> <br /> <span class="text-sm font-normal">2011 - 2015</span>',
        description: `Self-access learning and digital portfolio manager, duties were designing
                      and delivering technology education projects across sub-Saharan Africa.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="experience"
    title="Education"
    items={[
      {
        title: `MSc Blended and Online Master’s in technology enhanced education <br /> <span class="font-normal">University of Edinburgh Napier</span> <br /> <span class="text-sm font-normal">2011 - 2014</span>`,
        icon: 'tabler:school',
      },
      {
        title: ` Diploma English Language Teaching NVQ level 7 <br /> <span class="font-normal">British Council Madrid</span> <br /> <span class="text-sm font-normal">2005 - 2007</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
  <!-- Features3 Widget **************** -->
  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={2}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Learning Theory and Instructional Design',
        description:
          '<strong>Curriculum development:</strong> SAM, ADDIE, 4C-ID,Backwards Design<br><br><strong>Learning theories:</strong> Cognitive load theory, First principles, Experiential learning, adult learningtheory, connectivism<br><br> <strong>Evaluation and analytics:</strong> Monitoring and evaluation, learning analytics, educational data mining<br><br><strong>Edtech Learning:</strong> TPACK, digital competency frameworks, mobile learning',
        icon: 'tabler:books',
      },
      {
        title: 'Technology and Design Skills',
        description:
          '<strong>E-learning development:</strong> Storyline, RISE, Evolve, Captivate, Lectora, H5P<br><br><strong> Instructional media:</strong> Vyond, Adobe Photoshop, Illustrator, Premiere, After Effects, Camtasia<br><br><strong> UI/UX Focus:</strong> IA/UX design, Design thinking, Multimedia principles<br><br><strong>Data tools:</strong> PowerBI, Excel, Tableau',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Emerging Technology and Development',
        description:
          '<strong>AI:</strong> LM Studio, Pinokio, Elevenlabs, Descript, ChatGPT, Claude, Gemini<br><br> <strong>Cloud and dev tools:</strong> Google Cloud Platform, Colab, PowerApps, Power Automate,',
        icon: 'tabler:stack-pop',
      },
      {
        title: 'Project Management and Workflow',
        description:
          '<strong>Methodologies:</strong> SCRUM, Kanban, waterfall<br><br><strong>Collaboration and planning:</strong> Jira, Confluence, Notion, Microsoft planner,Smartsheet, Miro',
        icon: 'tabler:timeline-event-text',
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    id="porfolio"
    title="Projects from my work"
    subtitle="Find out more about projects from my work at the British Council, International Livestock Research Insititute, International Baccalaureate, RMIT Vietnam and my consultancy work."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: '~/assets/images/earthview.jpg',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Go to my projects"
    title="Explore some of my work"
    subtitle="Find out more about projects from my work at the British Council, International Livestock Research Insititute, International Baccalaureate, RMIT Vietnam and my consultancy work."
    actions={[{ variant: 'primary', target: '_self', text: 'Start exploring', href: 'projects_overview' }]}
    image={{
      src: '~/assets/images/earthview.jpg',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="My Thinking"
    title="Explore my thinking"
    information={`Find out more about my innovations across the landscape of education and technology, including putting learning theory into practice and using AI`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
